:root {
  --saturn-white: #f9f9f9;
  --saturn-black: #1e1e1e;
  --saturn-violet: #998eff;
  --saturn-violet-hover: #7b6fe9;
  --saturn-light-grey: #eaeaea;
  --white: white;
  --saturn-yellow: #ffb846;
  --saturn-green: #c8ebc8;
  --saturn-grey: grey;
  --memberstack-library--ms-shadow-color: rgba(0, 0, 0, .1);
  --memberstack-library--ms-main-cta-hover: #1051b9;
  --memberstack-library--ms-main-text-color: #121331;
  --memberstack-library--ms-main-cta-color: #2962ff;
  --memberstack-library--ms-border-color: rgba(18, 19, 49, .25);
  --memberstack-library--ms-input-placeholder: rgba(18, 19, 49, .6);
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  color: var(--saturn-white);
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Syne, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.375;
}

h2 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 48px;
  font-family: Syne, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
}

h3 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: Syne, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

a {
  color: var(--saturn-black);
  text-align: left;
  padding: 12px 24px;
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  background-image: url('../images/checkmark.svg');
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-size: 14.67px 11.17px;
  background-attachment: scroll;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 30px;
}

.flowout-body {
  background-color: var(--saturn-white);
  color: var(--saturn-black);
  font-family: IBM Plex Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.flowout-container {
  max-width: 1440px;
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
}

.flowout-navbar {
  background-color: rgba(0, 0, 0, 0);
}

.flowout-brand {
  justify-content: flex-start;
  align-items: center;
  margin-right: 44px;
  padding: 0;
  display: flex;
}

.flowout-brand.w--current {
  flex: none;
  margin-right: 22px;
}

.flowout-menu {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flowout-nav-link {
  color: var(--saturn-white);
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.flowout-menu-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.flowout-navbar-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.flowout-button {
  min-height: 48px;
  min-width: 105px;
  border: 1px solid var(--saturn-white);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  display: flex;
}

.flowout-button:hover, .flowout-button:focus {
  background-color: #3a3a3a;
}

.flowout-button.flowout-button-cta {
  border-color: var(--saturn-violet);
  background-color: var(--saturn-violet);
}

.flowout-button.flowout-button-cta:hover, .flowout-button.flowout-button-cta:focus {
  border-color: var(--saturn-violet-hover);
  background-color: var(--saturn-violet-hover);
}

.flowout-button.flowout-navbar-button {
  margin-left: 24px;
}

.flowout-button.flowout-button-big {
  min-height: 56px;
  min-width: 0;
  margin: 16px 26px 16px 16px;
  padding: 16px 56px;
}

.flowout-button.flowout-button-big.flowout-button-cta.flowout-button-footer, .flowout-button.flowout-button-big.flowout-button-footer {
  margin-bottom: 0;
}

.flowout-button.flowout-button-card {
  width: 100%;
  border-color: var(--saturn-white);
  background-color: var(--saturn-white);
  color: var(--saturn-black);
  border-radius: 8px;
  margin-top: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.flowout-button.flowout-button-card:hover, .flowout-button.flowout-button-card:focus {
  border-color: var(--saturn-light-grey);
  background-color: var(--saturn-light-grey);
}

.flowout-button.flowout-button-card.flowout-button-dark {
  border-color: var(--saturn-black);
  background-color: var(--saturn-black);
  color: var(--white);
}

.flowout-button.flowout-button-card.flowout-button-dark:hover, .flowout-button.flowout-button-card.flowout-button-dark:focus {
  background-color: #101010;
  border-color: #101010;
}

.flowout-header {
  background-color: var(--saturn-black);
}

.flowout-hero {
  margin-top: 110px;
  padding-bottom: 90px;
}

.flowout-hero-heading {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 25px;
}

.flowout-hero-text {
  color: var(--saturn-white);
  text-align: center;
  margin-bottom: 32px;
}

.flowout-hero-text.flowout-footer-hero-text {
  margin-top: 0;
}

.flowout-hero-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flowout-hero-wrapper.flowout-hero-text {
  margin-bottom: 16px;
  font-weight: 400;
}

.flowout-hero-wrapper.flowout-hero-heading {
  margin-top: 0;
}

.flowout-hero-wrapper.flowout-hero-buttons {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flowout-hero-wrapper.flowout-hero-sponsors {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.flowout-hero-image {
  width: 100%;
  height: auto;
  margin: 32px auto 36px;
}

.flowout-hero-sponsor {
  transition: opacity .3s;
}

.flowout-hero-sponsor:hover, .flowout-hero-sponsor:focus {
  opacity: .7;
}

.flowout-main {
  background-color: var(--saturn-white);
}

.flowout-footer, .flowout-testimonials.flowout-section.flowout-section-dark, .flowout-features.flowout-section.flowout-section-dark {
  background-color: var(--saturn-black);
}

.flowout-faq.flowout-section {
  background-color: #6fff00;
}

.flowout-tag {
  height: 40px;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  border-radius: 22px;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  display: inline-block;
}

.flowout-tag.flowout-tag-how-it-works {
  width: auto;
  color: var(--saturn-yellow);
  background-color: rgba(255, 184, 70, .2);
  display: inline-block;
}

.flowout-tag.flowout-tag-features {
  color: var(--saturn-violet);
  background-color: rgba(153, 142, 255, .2);
}

.flowout-tag.flowout-tag-testimonials {
  color: var(--saturn-green);
  background-color: rgba(200, 235, 200, .2);
}

.flowout-tag-wrapper {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.flowout-text-center {
  text-align: center;
}

.flowout-section-heading.flowout-text-center.flowout-text-white {
  color: var(--saturn-white);
}

.flowout-section {
  padding-top: 112px;
  padding-bottom: 112px;
}

.flowout-section-item-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.flowout-section-item {
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  margin-top: 112px;
  margin-bottom: 112px;
}

.flowout-section-item.flowout-section-item-first {
  margin-top: 0;
}

.flowout-section-item.flowout-section-item-last {
  margin-bottom: 0;
}

.flowout-section-item-content {
  max-width: 576px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 0;
  padding-right: 0;
}

.flowout-section-item-image {
  width: 100%;
  height: 100%;
  background-image: url('../images/image1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border-radius: 12px;
  position: relative;
}

.flowout-section-item-image.image-1 {
  flex: 0 auto;
}

.flowout-section-item-image.image-2 {
  background-image: url('../images/image2.jpg');
}

.flowout-section-item-image.image-3 {
  background-image: url('../images/image3.jpg');
}

.flowout-section-item-left {
  padding-right: 0;
}

.flowout-divider {
  width: 100%;
  height: 1px;
  background-color: var(--saturn-grey);
  margin-top: 56px;
  margin-bottom: 24px;
}

.flowout-section-item-heading {
  margin-top: 0;
}

.flowout-section-item-text {
  margin-bottom: 24px;
  font-weight: 400;
}

.flowout-section-item-quote {
  color: var(--saturn-grey);
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 24px;
}

.flowout-author {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.flowout-author.flowout-section-item-author {
  color: var(--saturn-grey);
}

.flowout-author-image {
  width: 48px;
  height: 48px;
  background-image: url('../images/profilePic3_1profilePic3.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border-radius: 50%;
  margin-right: 12px;
}

.flowout-author-image.author-1 {
  background-image: url('../images/profilePic1_1profilePic1.jpg');
}

.flowout-author-image.author-2 {
  background-image: url('../images/profilePic2_1profilePic2.jpg');
}

.flowout-author-role {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.left-arrow, .right-arrow {
  display: none;
}

.flowout-slide {
  width: 33.33%;
  height: 100%;
  margin-bottom: 48px;
  margin-left: 0;
  margin-right: 0;
  overflow: visible;
}

.slide-nav {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.flowout-slider {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.flowout-slider-mask {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.flowout-slide-item {
  background-color: var(--white);
  border: 1px solid #eaeaea;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 20px;
  margin-right: 20px;
  padding: 24px;
  display: flex;
}

.flowout-testimonial {
  margin-bottom: 40px;
}

.flowout-author-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 24px;
}

.flowout-dropdown {
  width: 100%;
  border-bottom: 2px solid var(--saturn-black);
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  transition: all .3s;
}

.flowout-dropdown-toggle {
  flex-wrap: nowrap;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  display: flex;
}

.flowout-dropdown-question {
  letter-spacing: .04em;
  white-space: normal;
  flex: 0 auto;
  padding-right: 25px;
  font-family: Syne, sans-serif;
  font-weight: 700;
  line-height: 32px;
}

.flowout-dropdown-item {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding-bottom: 0;
  position: static;
}

.flowout-dropdown-item.w--open {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 16px;
}

.flowout-dropdown-icon {
  width: 18.67px;
  height: 100%;
  flex: none;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-top: 6px;
  display: flex;
}

.flowout-footer-copyrights {
  border-top: 1px solid var(--saturn-white);
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.flowout-footer-menu {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flowout-footer-menu-link {
  color: var(--saturn-white);
  text-decoration: underline;
  transition: all .3s;
}

.flowout-footer-menu-link:hover, .flowout-footer-menu-link:focus {
  text-decoration: none;
}

.flowout-footer-logo {
  padding: 0;
}

.flowout-footer-socials {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.flowout-social-link {
  filter: brightness(200%);
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  transition: filter .3s;
}

.flowout-social-link:hover, .flowout-social-link:focus {
  filter: none;
}

.flowout-social-link.flowout-last-link {
  margin-right: 0;
}

.flowout-social-icon {
  width: 24px;
  height: 24px;
  max-width: none;
}

.flowout-slider-container {
  max-width: 1488px;
  padding-left: 20px;
  padding-right: 20px;
}

.flowout-tab-links {
  height: auto;
  float: right;
  background-color: var(--white);
  text-align: right;
  border: 1px solid #eaeaea;
  border-radius: 48px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: space-around;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
  padding: 4px;
  display: inline-block;
}

.flowout-tabs-heading {
  float: left;
}

.flowout-tab, .flowout-tabs-content {
  width: 100%;
}

.flowout-tab-link {
  min-width: 140px;
  background-color: var(--white);
  color: #727272;
  text-align: center;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;
}

.flowout-tab-link.w--current {
  background-color: var(--saturn-black);
  color: var(--white);
  border-radius: 32px;
}

.flowout-tab-link.flowout-tab-link-first {
  border-radius: 32px 0 0 32px;
}

.flowout-tab-link.flowout-tab-link-first.w--current {
  border-radius: 32px;
}

.flowout-tab-link.flowout-tab-link-last {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.text-block {
  line-height: 24px;
}

.flowout-tab-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: minmax(400px, 480px) repeat(auto-fit, minmax(400px, auto));
  grid-auto-columns: 1fr;
  display: grid;
}

.flowout-card-title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 600;
  display: inline;
}

.flowout-card-title.flowout-card-title-light {
  font-weight: 600;
}

.flowout-card-subtext {
  margin-bottom: 4px;
}

.flowout-card-body {
  padding: 20px 40px 40px;
}

.flowout-card {
  border: 1px solid #eaeaea;
  border-radius: 12px;
}

.flowout-card.flowout-card-style2 {
  border-color: var(--saturn-violet);
  background-color: var(--saturn-violet);
  color: var(--saturn-white);
}

.flowout-card.flowout-card-style1 {
  border-color: var(--saturn-light-grey);
  background-color: var(--white);
}

.flowout-card-header {
  border-color: black black var(--saturn-light-grey);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 40px 40px 28px;
}

.flowout-list {
  font-size: 18px;
  line-height: 20px;
}

.flowout-card-list-grid {
  grid-template-rows: auto;
  grid-template-columns: minmax(180px, .75fr) repeat(auto-fit, minmax(200px, 1.25fr));
}

.flowout-list-light {
  background-image: url('../images/checkmark-light.svg');
  font-weight: 400;
}

.flowout-features-grid1 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1.3fr 1fr;
}

.flowout-features-grid2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1.5fr;
}

.flowout-grid-card {
  background-color: var(--white);
  color: var(--saturn-grey);
  border-radius: 12px;
  padding: 0;
}

.flowout-grid-card.flowout-grid-card-reverse {
  flex-flow: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 40px;
  display: flex;
}

.flowout-grid-card.flowout-grid-card-featured {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
  display: flex;
}

.flowout-grid-card-text {
  line-height: 24px;
  display: inline;
}

.flowout-grid-card-text.flowout-grid-card-text-bold {
  color: var(--saturn-black);
  font-weight: 600;
}

.flowout-grid-card-content {
  padding: 32px;
}

.flowout-grid-card-background {
  min-height: 430px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.flowout-grid-card-background.background-1 {
  height: auto;
  background-image: url('../images/background1.png');
  background-position: 100% 0;
  background-size: cover;
}

.flowout-grid-card-background.background-2 {
  background-image: url('../images/background2.png');
  background-position: 50% 0;
  background-size: cover;
}

.flowout-grid-card-image-wrapper {
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin: auto 32px 32px;
}

.flowout-grid-card-mini-image {
  flex: 0 auto;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin: 16px;
  display: flex;
}

.flowout-grid-card-mini-content {
  flex: 1;
  align-self: center;
  padding: 16px 24px 16px 0;
  font-size: 20px;
  line-height: 26px;
}

.flowout-grid-card-image {
  width: 100%;
  height: auto;
  max-width: none;
  display: block;
}

.flowout-grid-card-wrapper {
  height: 50%;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.flowout-section-item-tag-1 {
  max-width: 50%;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: auto;
  right: -16px;
}

.flowout-dropdown-wrapper {
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: 40px;
}

.flowout-dropdown-wrapper.style-2 {
  display: none;
}

.flowout-dropdown-heading {
  max-width: 576px;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0;
}

.flowout-dropdown-container {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.flowout-section-item-tag-2 {
  max-width: 70%;
  position: absolute;
  top: auto;
  bottom: 30px;
  left: -16px;
  right: auto;
}

.flowout-section-item-tag-3 {
  max-width: 80%;
  position: absolute;
  top: 24px;
  bottom: auto;
  left: auto;
  right: -16px;
}

.flowout-footer-wrapper {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flowout-grid-card-image-mini {
  width: auto;
  height: 100%;
  max-height: none;
  max-width: none;
  flex: 0 auto;
  display: block;
}

.flowout-card-title-smaller {
  font-weight: 600;
  display: inline;
}

.flowout-single-faq {
  width: 100%;
  border-bottom: 2px solid #000;
}

.flowout-faq-question {
  width: 100%;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.flowout-faq-question-text {
  letter-spacing: .04px;
  padding-right: 25px;
  font-family: Syne, sans-serif;
  font-weight: 700;
  line-height: 32px;
}

.flowout-faq-icon {
  width: 18.67px;
  height: 18.67px;
  background-image: url('../images/plus-icon.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  display: flex;
}

.flowout-faq-answer {
  width: 100%;
  opacity: 0;
  display: none;
}

.flowout-faq-answer-text {
  margin-bottom: 0;
  padding-bottom: 24px;
  font-weight: 400;
  display: block;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .flowout-container {
    padding-left: 96px;
    padding-right: 96px;
  }

  .flowout-brand.w--current {
    margin-right: 34px;
  }

  .flowout-nav-link {
    margin-left: 28px;
    margin-right: 28px;
  }

  .flowout-section-item {
    grid-column-gap: 96px;
  }

  .flowout-slide-item {
    margin-left: 24px;
    margin-right: 24px;
    padding: 32px;
  }

  .flowout-testimonial {
    margin-bottom: 56px;
  }

  .flowout-slider-container {
    padding-left: 96px;
    padding-right: 96px;
  }

  .flowout-features-grid2 {
    grid-template-columns: 1.5fr 1.5fr;
  }

  .flowout-grid-card-mini-image {
    flex: 0 auto;
  }

  .flowout-grid-card-mini-content {
    font-size: 24px;
    line-height: 1.5;
  }

  .flowout-section-item-tag-2 {
    left: -64px;
  }

  .flowout-section-item-tag-3 {
    max-width: 85%;
    right: -48px;
  }

  .flowout-grid-card-image-mini {
    width: auto;
    height: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    margin-bottom: 8px;
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 40px;
  }

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .flowout-body {
    font-size: 18px;
    line-height: 26px;
  }

  .flowout-burger {
    display: none;
  }

  .flowout-navbar-container {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .flowout-hero {
    margin-top: 40px;
    padding-bottom: 60px;
  }

  .flowout-section {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .flowout-section-item-right {
    width: 100%;
    height: 100%;
  }

  .flowout-section-item {
    grid-row-gap: 24px;
    grid-template-rows: minmax(auto, 85vw) minmax(auto, 1fr);
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: start;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .flowout-section-item-content {
    max-width: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .flowout-section-item-image {
    height: 100%;
  }

  .flowout-section-item-left {
    width: 100%;
    height: 100%;
  }

  .flowout-divider {
    margin-top: 24px;
  }

  .flowout-slide {
    width: 50%;
  }

  .flowout-slider-mask {
    padding-bottom: 30px;
  }

  .flowout-slide-item {
    padding: 32px;
  }

  .flowout-footer-menu {
    display: none;
  }

  .flowout-tab-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .flowout-features-grid1 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .flowout-features-grid2 {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .flowout-grid-card {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
  }

  .flowout-grid-card.flowout-grid-card-reverse, .flowout-grid-card.flowout-grid-card-featured {
    margin-top: 24px;
  }

  .flowout-grid-card-text {
    width: 100%;
    font-size: 18px;
    display: inline;
  }

  .flowout-grid-card-content {
    padding: 16px 16px 24px;
  }

  .flowout-grid-card-background {
    min-height: 360px;
  }

  .flowout-grid-card-background.background-1 {
    height: auto;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    display: flex;
  }

  .flowout-grid-card-image-wrapper {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .flowout-grid-card-mini-image {
    flex-direction: row;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: stretch;
  }

  .flowout-dropdown-wrapper {
    width: 100%;
    flex: 0 auto;
    margin-left: 0;
  }

  .flowout-dropdown-heading {
    text-align: center;
  }

  .flowout-dropdown-container {
    flex-direction: column;
    align-items: center;
  }

  .flowout-section-item-tag-2 {
    max-width: 60%;
    bottom: 16px;
  }

  .flowout-section-item-tag-3 {
    max-width: 60%;
    top: 16px;
  }

  .heading-2 {
    line-height: 48px;
  }

  .flowout-faq-icon {
    flex: none;
  }
}

@media screen and (max-width: 767px) {
  .flowout-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .flowout-hero-wrapper.flowout-hero-buttons {
    justify-content: center;
  }

  .flowout-section-item.flowout-section-item-first {
    grid-row-gap: 24px;
  }

  .flowout-slider-mask {
    padding-bottom: 24px;
  }

  .flowout-slide-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 24px;
  }

  .flowout-slider-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .flowout-tab-links {
    float: none;
    margin-top: 0;
    margin-bottom: 24px;
    display: inline-block;
  }

  .flowout-tabs-heading {
    width: 100%;
    text-align: center;
    display: block;
  }

  .flowout-tabs {
    text-align: center;
  }

  .flowout-tab-grid {
    grid-row-gap: 24px;
  }

  .flowout-card-body {
    padding: 16px 24px;
  }

  .flowout-card {
    text-align: left;
  }

  .flowout-card-header {
    padding: 16px 24px;
  }

  .flowout-card-list-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin-bottom: 4px;
  }

  .flowout-list-light {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .flowout-features-grid1 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .flowout-grid-card-background {
    min-height: 320px;
  }

  .flowout-grid-card-mini-content {
    padding-left: 0;
    padding-right: 16px;
  }

  .flowout-list-item {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .flowout-faq-question-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    margin-top: 16px;
  }

  .flowout-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .flowout-brand.w--current {
    flex: none;
  }

  .flowout-burger {
    z-index: -1;
    flex: 0 1 0;
    display: none;
    position: absolute;
  }

  .flowout-navbar-container {
    position: relative;
  }

  .flowout-button.flowout-navbar-button.flowout-button-cta {
    min-height: 40px;
    margin-left: 12px;
  }

  .flowout-button.flowout-button-big {
    margin: 8px 0;
  }

  .flowout-hero-wrapper.flowout-hero-heading {
    margin-bottom: 8px;
  }

  .flowout-hero-wrapper.flowout-hero-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .flowout-slide {
    width: 100%;
  }

  .flowout-slider-mask {
    padding-left: 8px;
    padding-right: 32px;
    overflow: visible;
  }

  .flowout-slide-item {
    margin-left: 8px;
    margin-right: 12px;
  }

  .flowout-dropdown-question {
    padding-right: 16px;
  }

  .flowout-footer-copyrights {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .flowout-footer-logo {
    max-width: 100%;
    margin-top: 24px;
    padding: 0;
  }

  .flowout-footer-socials {
    order: -1;
  }

  .flowout-slider-container {
    padding-left: 0;
    padding-right: 0;
  }

  .flowout-tab-link.flowout-tab-link-first.w--current {
    min-width: 130px;
  }

  .flowout-card-title.flowout-card-title-light {
    display: inline;
  }

  .flowout-list-light {
    font-weight: 400;
  }

  .flowout-grid-card-text.flowout-grid-card-text-mini {
    font-size: 14px;
    line-height: 10px;
  }

  .flowout-grid-card-background {
    min-height: 230px;
  }

  .flowout-grid-card-mini-image {
    flex: 0 auto;
    align-self: center;
    margin: 8px 12px 8px 8px;
  }

  .flowout-grid-card-mini-content {
    flex: 1;
    font-size: 14px;
    line-height: 20px;
  }

  .flowout-footer-wrapper {
    flex-direction: column;
  }

  .image-5 {
    width: 100%;
  }

  .flowout-grid-card-image-mini {
    width: 100%;
    height: auto;
    max-width: 96px;
    flex: 0 auto;
    align-self: flex-start;
  }

  .flowout-card-title-smaller {
    display: inline;
  }

  .flowout-faq-question {
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_80c56941-ca13-ed58-9d0e-7a44e02e96fc-feaa2519 {
    order: -9999;
  }

  #w-node-a2b63abf-7d97-e8b1-c504-ba67dd29a217-feaa2519 {
    order: -999;
  }
}


